.subsribe-button {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: $white;
  border-radius: 64px;
  background-color: var(--primary-subtle-color);
  transition: all 0.5s ease;

  @include respond-to("medium") {
    position: unset;
  }

  &:hover {
    opacity: 0.9;
  }
}

.login-button {
  @extend .subsribe-button;
}
