.m-site-name {

  display: flex;
  justify-content: center;
  gap: 0;

  &.in-mobile-topbar {
    color: var(--titles-color);
    font-weight: 600;
  }

  &.in-desktop-menu {
    font-weight: 700;
  }
}

.geekly {

  &-blue {
    font-family: 'Product Sans', sans-serif;
    color: #4285F4;
  }

  &-red {
    font-family: 'Product Sans', sans-serif;
    color: #DB4437;
  }

  &-green {
    font-family: 'Product Sans', sans-serif;
    color: #0F9D58;
  }

  &-yellow {
    font-family: 'Product Sans', sans-serif;
    color: #F4B400;
  }

  &-manwrite {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
  }
}
