.m-heading {
  text-align: center;
  margin: 0 auto 40px;

  @include respond-to('medium') {
    margin-bottom: 60px;
  }

  &.in-subscribe-page {
    @include respond-to('medium') {
      margin-bottom: 50px;
    }
  }

  &.no-margin {
    margin-bottom: 0 !important;
  }

  &.in-post {
    color: white;
    text-align: left;
    margin: 0;
    padding: 0 $mobile-space;

    @include respond-to('medium') {
      padding: 0 0 0 10vw;
    }

    @include respond-to('extra-large') {
      padding: 0 0 0 10vw;
    }
  }
}
