.m-heading__title {
  color: var(--titles-color);
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 1.750rem;
  margin: 0 0 10px;
  font-family: 'Montserrat', sans-serif;

  @include respond-to('medium') {
    letter-spacing: 0.5px;
    font-size: 2.250rem;
    margin-bottom: 15px;
  }

  &.in-post {
    color: white;
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin-bottom: 20px;

    @include respond-to('extra-large') {
      letter-spacing: 0.7px;
      font-size: 3vw;
      margin-bottom: 30px;
    }
  }

  &.in-page {
    margin: 0;
  }
}
