.m-featured-slider.swiper {
  grid-column: span 1 / span 1;
  height: 350px;
  position: relative;
  overflow: hidden !important;
  @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));

  @include respond-to("medium") {
    grid-column: span 2 / span 2;
    height: 420px;
  }

  &:hover {
    @include respond-to("medium") {
      @include transform(translateY(-5px));
      @include bs(var(--article-shadow-hover));
    }
  }
}

.m-featured-slider:not(:root:root) {
  overflow: hidden !important;
}

.m-featured-slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  border-radius: 10px;
}

.m-featured-slider__list__item {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
